{% set classes = [
  'price-box',
] %}

<div{{ attributes.addClass(classes) }}>
  {{ content.field_heading }}
  {{ content.field_body }}
  {{ content.field_price }}
  {{ content.field_price_sub }}
  {{ content.field_link }}
</div>
