<a href="{{ url }}"
   class="element-wrapper-link entity-list entity-list--user" data-full-name="{{ user_full_name }}">

  <!-- Begin - icon -->
  <div class="entity-list__icon">
      <span class="initial-icon" data-toggle="tooltip" title="{{ user_full_name }}">
        {{ user_initials }}
      </span>
  </div>
  <!-- End - icon -->

  <!-- Begin - content -->
  <div class="entity-list__content">

    <div class="entity-list__heading">
      <h2
        class="entity-list__heading__title heading-h4">{{ user_full_name }}</h2>
    </div>

  </div>
  <!-- End - content -->

</a>
