{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="container">

        {# Begin - heading #}
        {{ content.field_heading }}
        {# End - heading #}

        <div class="row row--equal-height-columns">

          {% if image_position == 'left' %}
            <div class="col-xs-12 col-sm-5">

              {# Begin - image #}
              {{ content.field_image }}
              {# End - image #}

            </div>
            <div class="col-xs-12 col-sm-7">

              {# Begin - subheading #}
              {{ content.field_subheading }}
              {# End - subheading #}

              {# Begin - body #}
              {{ content.field_body }}
              {# End - body #}

            </div>
          {% else %}
            <div class="col-xs-12 col-sm-5 col-sm-push-7">

              {# Begin - image #}
              {{ content.field_image }}
              {# End - image #}

            </div>
            <div class="col-xs-12 col-sm-7 col-sm-pull-5">

              {# Begin - subheading #}
              {{ content.field_subheading }}
              {# End - subheading #}

              {# Begin - body #}
              {{ content.field_body }}
              {# End - body #}

            </div>
          {% endif %}
        </div>
      </div>

    {% endblock %}
  </div>
{% endblock paragraph %}
