{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="container">

        {# Begin - heading #}
        {{ content.field_heading }}
        {# End - heading #}

        {# Begin - subheading #}
        {{ content.field_subheading }}
        {# End - subheading #}

        <form action="/bestil-demo" method="get">
          <div class="form">
            <div class="row row--equal-height-columns">
              <div class="col-xs-12 col-sm-6">
                <div class="box box--outline box--secondary">
                  <h3>{{ 'Decreto abonnementer' | trans }}</h3>

                  <label class="package-selector">
                    <div class="package-selector__row">
                      <input type="radio" name="subscription" value="forening" />
                      <div class="package-selector__checkmark"></div>
                      <div class="package-selector__name">{{ 'Forening' | trans }}</div>
                      <div class="package-selector__description">{{ '3 brugere' | trans }}</div>
                      <div class="package-selector__price">{{ '95 kr./md.' | trans }}</div>
                    </div>
                  </label>

                  <label class="package-selector">
                    <div class="package-selector__row">
                      <input type="radio" name="subscription" value="bestyrelse" />
                      <div class="package-selector__checkmark"></div>
                      <div class="package-selector__name">{{ 'Bestyrelse' | trans }}</div>
                      <div class="package-selector__description">{{ '15 brugere' | trans }}</div>
                      <div class="package-selector__price">{{ '495 kr./md.' | trans }}</div>
                    </div>
                  </label>

                  <label class="package-selector">
                    <div class="package-selector__row">
                      <input type="radio" name="subscription" value="basis" />
                      <div class="package-selector__checkmark"></div>
                      <div class="package-selector__name">{{ 'Basis' | trans }}</div>
                      <div class="package-selector__description">{{ '50 brugere' | trans }}</div>
                      <div class="package-selector__price">{{ '995 kr./md.' | trans }}</div>
                    </div>
                  </label>

                  <label class="package-selector">
                    <div class="package-selector__row">
                      <input type="radio" name="subscription" value="standard" />
                      <div class="package-selector__checkmark"></div>
                      <div class="package-selector__name">{{ 'Standard' | trans }}</div>
                      <div class="package-selector__description">{{ '100 brugere' | trans }}</div>
                      <div class="package-selector__price">{{ '1.995 kr./md.' | trans }}</div>
                    </div>
                  </label>

                  <label class="package-selector">
                    <div class="package-selector__row">
                      <input type="radio" name="subscription" value="pro" />
                      <div class="package-selector__checkmark"></div>
                      <div class="package-selector__name">{{ 'Pro' | trans }}</div>
                      <div class="package-selector__description">{{ 'Ubegrænset antal brugere' | trans }}</div>
                      <div class="package-selector__price">{{ '3.995 kr./md.' | trans }}</div>
                    </div>
                  </label>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="box box--outline box--secondary">
                  <h3>{{ 'Prøv Decreto' | trans }}</h3>
                  <p>{{ 'Har du lyst til at prøve vores digitale mødesystem og alle de tilhørende muligheder?' | trans }}</p>
                  <p>{{ 'Så er du velkommen til at prøve i 30 dage helt gratis.' | trans }}</p>

                  <label class="package-selector package-selector--no-border">
                    <div class="package-selector__row">
                      <input type="radio" name="subscription" value="demo" />
                      <div class="package-selector__checkmark"></div>
                      <div class="package-selector__name">
                        {{ 'Demo' | trans }}
                      </div>
                      <div class="package-selector__description"></div>
                      <div class="package-selector__price">{{ 'Gratis' | trans }}</div>
                    </div>
                    <div class="package-selector__details">
                      {{ '1 systemansvarlig' | trans }} <br>
                      {{ '1 superbruger' | trans }} <br>
                      {{ 'Ubegrænset antal udvalg' | trans }} <br>
                      {{ '2 brugere' | trans }} <br>
                      {{ '1 Gb data' | trans }}
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>

          {# Begin - link (text) #}
          {{ content.field_link_text }}
          {# End - link (text) #}

          {# Begin - link (button) #}
          {{ content.field_link }}
          {# End - link (button) #}
        </form>

      </div>

    {% endblock %}
  </div>
{% endblock paragraph %}
