{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
    theme.settings.navbar_position ? 'navbar-is-' ~ theme.settings.navbar_position,
    theme.has_glyphicons ? 'has-glyphicons',
  ]
%}
<!DOCTYPE html>
<html {{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/{{ base_path ~ directory }}/dist/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/{{ base_path ~ directory }}/dist/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/{{ base_path ~ directory }}/dist/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/{{ base_path ~ directory }}/dist/images/icons/site.webmanifest">
    <link rel="mask-icon" href="/{{ base_path ~ directory }}/dist/images/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
